fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlalchemy==1.4.47
psycopg2-binary==2.9.7
bcrypt==3.2.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
requests==2.31.0
cryptography==43.0.1
# python-jwt==4.1.0
PyJWT==2.8.0
